main {
    padding-top: $spaceB10 * 15;
    padding-bottom: $spaceB10 * 5;
        .container {
            ol {
                list-style-position: inside;
                list-style-type: decimal;
                ul {
                    list-style-position: inside;
                    list-style-type: lower-latin;
                }
            }
        }
}