main {
    padding-top: $spaceB10 * 15;
    padding-bottom: $spaceB10 * 5;
        .container {
            ol {
                list-style-position: inside;
                list-style-type: decimal;
                ul {
                    list-style-position: inside;
                    list-style-type: lower-latin;
                    padding-left: $spaceB5 * 5;
                    margin: $spaceB5 0;
                        li {
                            margin: $spaceB5 0;
                        }
                }
            }
        }
}